/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f3f4f6;
}

/* Layout */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  padding: 20px;
  background: #4f46e5;
  color: white;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  text-align: center;
}

.card h2 {
  margin-bottom: 20px;
  font-weight: 600;
}

/* Inputs */
input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  margin-bottom: 15px;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: #4f46e5;
  box-shadow: 0 0 5px rgba(79,70,229,0.3);
}

/* Buttons */
.login-btn {
  width: 100%;
  padding: 12px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  transition: 0.2s;
}

.login-btn:hover {
  background: #4338ca;
}

.google-btn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: 1px solid #d1d5db;
  background: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.2s;
}

.google-btn:hover {
  background: #f9fafb;
}

/* Links */
.links {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.links a {
  font-size: 13px;
  color: #4f46e5;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  text-align: center;

  padding: 15px 0;
  background: #111827;
  color: #d1d5db;

  font-size: 14px;
}

.error-msg {
  color: red;
  margin: 8px 0;
  font-size: 14px;
  font-weight: 500;
}
